# Next.js
.next/
out/
build/
node_modules/

# Env files (nunca commitar valores reais)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Manter o .env.example como referência
!.env.example
tsconfig.tsbuildinfo
