# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Logs
*.log

# Docker
*.pid

# Node / Next.js
node_modules/
.next/
out/

# Flutter
.dart_tool/
.flutter-plugin-dependencies
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Database
*.sqlite3
postgres-data/
